
<div class=" round">
  <div class="center round">
<%= link_to "Make Your Guess", @member %></br></br>
<% @members.each do |member| %>
<%= link_to member.email, member %></br>
<%= "Score: " + member.score.to_s %></br>
<% if member.answered? %>
<%= "Has made a guess today."%></br>
<% end %>
</br>

  <% end %>

<%= link_to 'LogOut', welcome_logout_path %>
    </div>
  </div>